<footer role="contentinfo">
  <p><img src="http://incubator.apache.org/images/incubator_feather_egg_logo_bw_crop.png" height="57" width="229" alt="Apache Incubator" align="left" hspace="10" vspace="3" style="background-color:#aaa;"/>
Apache Mnemonic(incubating) is an effort undergoing incubation at The Apache Software Foundation (ASF), sponsored by the Apache Incubator PMC. 
Incubation is required of all newly accepted projects until a further review indicates that the infrastructure, communications, 
and decision making process have stabilized in a manner consistent with other successful ASF projects. 
While incubation status is not necessarily a reflection of the completeness or stability of the code, 
it does indicate that the project has yet to be fully endorsed by the ASF.
<div align="center"> Copyright &copy;&nbsp;{{ site.time | date: '%Y' }} <a href="https://www.apache.org/">The Apache Software Foundation</a></div></p>
</footer>
