<footer role="contentinfo">
  <p><img src="/img/apache-egg-logo.png" alt="Apache Incubator" align="left" hspace="10" vspace="3" style="background-color:#aaa;"/>
    The contents of this website are &copy;&nbsp;{{ site.time | date: '%Y' }}
     <a href="https://www.apache.org/">Apache Software Foundation</a>
     under the terms of the <a
      href="https://www.apache.org/licenses/LICENSE-2.0.html">
      Apache&nbsp;License&nbsp;v2</a>. Apache Incubator Mnemonic and its logo are trademarks
      of the Apache Software Foundation. <a href="docs/disclaimer.html">DISCLAIMER</a></p>
</footer>
